# 1. List

### 1) 정수(int)로만 구성된 리스트를 입력으로 받고, 리스트의 메서드(method)를 활용하여 아래의 지시를 순서대로 따르는 함수 P1을 완성

In [26]:
def P1(lst):
    # 입력받은 list 오름차순으로 정렬
    lst.sort()
    # list에서 1234 제거
    idx = lst.index(1234)
    lst.pop(idx)
    #[4321, 2222]를 추가하여 list 확장
    add = [4321, 2222]
    lst.extend(add)
    # 1번 위치에 1111 추가
    lst.insert(1, 1111)
    
    return lst

In [27]:
P1([1234, 1011, 3124])

[1011, 1111, 3124, 4321, 2222]

In [28]:
P1([7777, 5555, 8888, 1234, 9876])

[5555, 1111, 7777, 8888, 9876, 4321, 2222]

### 2) 세 개의 리스트를 입력으로 받고, 가장 길이가 긴 리스트의 길이를 리턴하는 함수 P2

In [29]:
def P2(lst1, lst2, lst3):
    ans = max(len(lst1), len(lst2), len(lst3))
    
    return ans

In [30]:
P2([1], [2, 3], [4, 5, 6])

3

In [31]:
P2([10, 11, 12, 13], ['a'], [1.11])

4

### 3) 정수로 구성된 리스트를 입력으로 받고 리스트 안의 값이 음수이면 양수로, 양수이면 음수로 변경하여 리턴하는 함수 P3

In [35]:
def P3(lst):
    ans = []
    for val in lst:
        if val != 0:
            ans.append(-val)
        else:
            ans.append(val)

    return ans

In [36]:
P3([-1, 2])

[1, -2]

In [38]:
P3([66, 0, -11])

[-66, 0, 11]

### 4) 중첩 리스트(nested list)를 입력으로 받고, 아래 조건을 만족하는 리스트를 리턴하는 함수 P4

In [43]:
def P4(nested_lst):
    ans = []
    for lst in nested_lst:
        # 만약 대문자가 섞여있다면, lst[0].lower()로
        ans.append(lst[0])
    ans.sort()
    
    return ans

In [44]:
P4([['apple', 5], ['banana', 6]])

['apple', 'banana']

In [45]:
P4([['cup', 3], ['ace', 3], ['nice', 4], ['good', 4]])

['ace', 'cup', 'good', 'nice']

### 5) 대문자가 처음으로 등장하는 index를 리턴하는 함수 P5

In [51]:
def P5(lst):
    idx = 0
    while idx != len(lst):
        if 65 <= ord(lst[idx]) and ord(lst[idx]) <= 90:
            return idx
        else:
            idx += 1
    return -1

In [52]:
P5(['a', 'B', 'c', 'D'])

1

In [53]:
P5(['z', 'b', 'k', 'D', 'I', 'q'])

3

In [54]:
P5(['a', 'b'])

-1

### 6) 정수 2개를 입력으로 받고, 아래 조건을 만족하는 리스트를 리턴하는 함수 P6
<조건>
1. 입력은항상정수2개 
2. 입력받은두정수중큰수부터시작하여작은수까지포함된리스트를리턴
3. 리턴하는 리스트는 내림차순으로 정렬되어 있어야 함 
4. 입력받는두정수가같은경우는해당정수가1번만포함된리스트를리턴

In [72]:
def P6(v1, v2):
    ans = []
    if v1 == v2:
        ans.append(v1)
    else: 
        # range(시작, 끝-1, step:-1)
        for val in range(max(v1,v2), min(v1,v2)-1, -1):
            ans.append(val)
    return ans

In [73]:
P6(3, 9)

[9, 8, 7, 6, 5, 4, 3]

In [74]:
P6(2, -1)

[2, 1, 0, -1]

In [75]:
P6(100, 100)

[100]

### 7) 리스트를 입력으로 받고, 리스트의 각 원소에 1을 더한 후 리턴하는 함수 P7
<조건> 

1.입력받는리스트자체는변경되어서는안됨 

2.리스트는 숫자로만 구성됨

In [76]:
def P7(lst):
    copy_lst = lst[:]
    idx = 0
    while idx != len(lst):
        copy_lst[idx] += 1
        idx += 1
    return copy_lst

In [77]:
P7([5,4,7,3,2,3,2,6,4,2,1,7,1,3])

[6, 5, 8, 4, 3, 4, 3, 7, 5, 3, 2, 8, 2, 4]

In [78]:
P7([0, 0, 0])

[1, 1, 1]

### 8) 해당 리스트에서 음수만 제거하는 함수 P8

In [85]:
def P8(lst):
    idx = 0
    copy = lst[:]
    while idx != len(copy):
        # 보존되는 copy로 negative index찾고 해당 값을 다른 list에서 지우기
        if copy[idx] < 0:
            lst.remove(copy[idx])
        idx += 1
    
    return lst

In [86]:
P8([1, 2, 3, -3, 6, -1, -3, 1])

[1, 2, 3, 6, 1]

In [87]:
P8([-5, 1, -3, 2])

[1, 2]

In [88]:
P8([])

[]

### 9) 안쪽 리스트 중 첫 리스트의 첫 원소와 마지막 리스트의 마지막 원소를 리턴하는 함수 P9

In [93]:
def P9(nested_lst):
    ans = []
    ans.extend([nested_lst[0][0], nested_lst[-1][-1]])
    return ans

In [94]:
P9([['km','miles','league'],['kg','pound','stone']])

['km', 'stone']

In [95]:
P9([[0,1,2,3],[4,5,6]])

[0, 6]

In [96]:
P9([[0,0,0],[1]])

[0, 1]

In [97]:
P9([[0],[1]])

[0, 1]

### 10)  두 리스트와 1과10사이의숫자가하나가주어졌을때,해당숫자에해당하는날에1번rat의무게가더 높았으면 True, 아니라면 False를 리턴하는 함수 P10

In [98]:
def P10(lst1, lst2, day):
    idx = day-1
    ans = True
    if lst1[idx] < lst2[idx]:
        ans = False
    return ans

In [101]:
rat_1=[5,6,7,6,7,8,10,9,8,10] 
rat_2=[7,8,6,7,8,10,9,8,10,11]
P10(rat_1, rat_2, 1)

False

In [102]:
P10(rat_1, rat_2, 5)

False

In [103]:
P10(rat_1, rat_2, 3)

True

# 2. Set

### 1) 정수(int)로만 구성된 리스트를 변수(argument)로 받고, 그중 두 번 이상 반복되는 정수의 집합(set)을 리턴하는 함수

In [106]:
def P1(lst):
    dic = {}
    ans = []
    # val count별로 dictionary에 넣기
    for val in lst:
        if val not in dic:
            dic[val] = 1
        else:
            dic[val] += 1
    # count가 2번 이상인 애들 뽑아서 list에 넣고 set으로 return하기
    for k,v in dic.items():
        if v > 1:
            ans.append(k)
    return set(ans)

In [107]:
P1([1, 2, 3, 1])

{1}

In [108]:
P1([1, 1, 2, 3, 3, 3])

{1, 3}

In [109]:
P1([1, 2, 3, 4, 5])

set()

In [110]:
P1([])

set()

### 2) 같은 인덱스를 갖는 원소끼리 짝지은 튜플(tuple)의 집합(set)을 리턴하는 함수

In [18]:
def P2(lst1, lst2):
    ans = set()
    for i in range(len(lst1)):
        add = [lst1[i], lst2[i]]
        ans.add(tuple(add))
    return ans

In [19]:
P2(['red', 'yellow', 'purple'], ['apple', 'banana', 'grape'])

{('purple', 'grape'), ('red', 'apple'), ('yellow', 'banana')}

In [24]:
P2([1, 2, 3], ['computer', 'keyboard', 'mouse'])

{(1, 'computer'), (2, 'keyboard'), (3, 'mouse')}

In [25]:
P2([], [])

set()

# 3. Dictionary

### 3) 포함된 “distinct values”의 수를 리턴하는 함수

In [28]:
def P3(dic):
    unique = set(dic.values())
    ans = len(unique)
    return ans

In [29]:
P3({'red': 1, 'green': 1, 'blue': 2})

2

In [30]:
P3({(1,2): 'a', 'g': 3, 1: True})

3

In [31]:
 P3(dict())

0

In [32]:
P3({'a': True, 'b': True, 'c': True})

1

### 4) 딕셔너리를 변수(argument)로 받아 탐지 가능성이 가장 큰 입자를 리턴하는 함수

In [33]:
def P4(dic):
    max_val = max(dic.values())
    for k,v in dic.items():
        if v == max_val:
            return k

In [34]:
P4({'neutron': 0.55, 'proton': 0.21, 'meson': 0.03, 'muon': 0.07, 'neutrino': 0.14})

'neutron'

In [36]:
P4({'neutron': 0.11, 'proton': 0.21, 'meson': 0.05, 'muon': 0.09, 'neutrino': 0.12})

'proton'

### 5) 두 번 이상 나타나는 value를 리스트로 저장하여 리턴하는 함수

In [39]:
def P5(dic):
    cnt = {}
    ans = []
    for val in dic.values():
        if val not in cnt:
            cnt[val] = 1
        else:
            cnt[val] += 1
    for k,v in cnt.items():
        if v > 1:
            ans.append(k)
    return ans

In [40]:
P5({'red': 1, 'green': 1, 'blue': 2})

[1]

In [42]:
P5({'r': 'a', 'g': 'b', 'b': 'c'})

[]

In [43]:
P5({'a': True, 'b': True, 'c': 2, 'd': 2})

[True, 2]

In [44]:
P5(dict())

[]

### 6) dct1과 dct2에 공통으로 포함된 key/value 쌍으로만 만든 새로운 딕셔너리를 리턴하는 함수

In [46]:
def P6(dic1, dic2):
    ans = {}
    for k,v in dic1.items():
        if k in dic2:
            if dic2.get(k) == dic1.get(k):
                ans[k] = v
    return ans

In [47]:
P6({'a': 1, 'b': True, 'c': [1,2]}, {'a': 1, 'b': 123, 'c': [1,2]})

{'a': 1, 'c': [1, 2]}

In [48]:
P6({'a': 1, 'b': True }, {'c': 1, 'd': 123, 'e': [1,2]})

{}

In [49]:
P6({}, {'c': 1, 'd': 123, 'e': [1,2]})

{}

### 7) “Dictionary of dictionaries”를 변수(argument)로 받아 “inner dictionaries”가 모두 같은 key 값을 가지면 1, 아니면 0을 리턴하는 함수

<조건>
1. 딕셔너리가 비어있는 경우는 없음
2. 모든 value는 딕셔너리로 되어있음
3. value의 value는 딕셔너리 형태가 아님

In [55]:
def P7(dic):
    key_lst = []
    for sub_dic in dic.values():
        key_lst.append(sub_dic.keys())
        print('key list: ', key_lst)
    check = key_lst[0]
    for i in range(1, len(key_lst)):
        ans = 1
        if check != key_lst[i]:
            print(check, key_lst[i])
            ans = 0
    return ans

In [56]:
P7({'a': {'aa':123, 'ab': [1,2]}, 'b': {'aa': 'bb', 'ab': 'cc'}})

key list:  [dict_keys(['aa', 'ab'])]
key list:  [dict_keys(['aa', 'ab']), dict_keys(['aa', 'ab'])]

1

In [57]:
P7({'A': {1: 'a', 2: 'b'}, 'B': {2: 'c', 3: 'd'}})

key list:  [dict_keys([1, 2])]
key list:  [dict_keys([1, 2]), dict_keys([2, 3])]
dict_keys([1, 2]) dict_keys([2, 3])

0

### 8) 딕셔너리 형태로 저장된 두 개의 sparse vector를 변수(arguments)로 받아 그들의 합을 새로운 딕셔너리로 저장하여 리턴하는 함수

In [75]:
def P8(dic1, dic2):
    ans = {}
    for k,v in dic1.items():
        if k in dic2:
            # 더한 값 구하기
            val = v+dic2.get(k)
            del dic2[k]
            # value가 0보다 크면 저장하기 (원소가 없으면 빼는 것)
            if val > 0:
                ans[k] = val
        else:
            ans[k] = v
    if len(dic2.keys())!=0:
        for k,v in dic2.items():
            ans[k] = v
    return ans

In [76]:
P8({0: 1, 6: 3}, {0: 2, 5: 2, 6: 2, 7: 1})

{0: 3, 6: 5, 5: 2, 7: 1}

In [77]:
P8 ({0: 1, 6: 3}, {0: -1, 5: 2, 6: 2, 7: 1})

{6: 5, 5: 2, 7: 1}

In [78]:
P8({0: 1, 6: -3}, {0: -1, 6: 3})

{}

### 9) 두 개의 sparse vector를 변수(arguments)로 받아 그들의 내적을 계산하여 리턴하는 함수

In [79]:
def P9(dic1, dic2):
    ans = 0
    for k,v in dic1.items():
        if k in dic2:
            ans += v * dic2.get(k)
    return ans

In [80]:
P9({0:1, 6:3}, {0:2, 5:2, 6:2, 7:1})

8

In [81]:
P9({0:1, 6:3}, {1:-1, 2:2, 3:2, 4:1})

0

### 10) 단어 집합(set)과 “Query word”를 변수(arguments)로 받아서 “Changed word”가 단어 집합 내의 단어와 하나라도 일치하면 True, 하나도 일치하지 않으면 False를 리턴하는 함수

In [140]:
def P10(words, word):
    lst = []
    for wrd in words:
        if len(wrd) == len(word):
            lst.append(wrd)
    
    i = 0
    j = 0
    cnt = 0
    while j != len(lst):
        # word 뽑기
        w = lst[j]
        
        # chr 다르면 count +1 하기
#         print('i: ', i)
#         print('word: ', w, word)
        if w[i] != word[i]:
            cnt += 1
        i+=1
        
        # chr마다 다 돌면 다른 단어로 넘어가기 (cnt, i reset하기)
        # 만약 한 chr만 다르면 바로 true return하기
        if i == len(lst[j]):
            if cnt == 1:
                return True
            i=0
            j+=1
            cnt=0
    return False

In [141]:
 P10({"data", "science"}, "data")

False

In [142]:
P10({"data", "science"}, "daaa")

True

In [143]:
P10({"data", "science"}, "scienzz")

False

In [144]:
P10({"data", "science", "scienze"}, "scienzz")

True