# 1. Factorization (중요)

### 1) 자연수를 parameter로 받고, 해당 자연수가 2개의 소수의 곱으로 표현된다면 True, 아니라면 False를 반환하는 함수 P1

In [14]:
def P1(val: int) -> bool:
    i = 2
    cnt = 0
    quotient = val
    while quotient > 1 and cnt < 2:
        #나누기가 되는 숫자이고 count도 가능하면 
        #몫을 나눠야 할 값으로 업뎃하고 카운트 +1
        while quotient % i == 0 and cnt < 2:
            quotient = quotient / i
            cnt += 1
        # 나누기가 안 되는 숫자면 다음 숫자로 넘기기
        i += 1
       
    if quotient == 1 and cnt == 2:
        return True
    else:
        return False

In [15]:
P1(6)

True

In [16]:
P1(9)

True

In [17]:
P1(12)

False

# 2. String

### 1) 숫자의 일부 자릿수를 영어로 바꾸는 변환기

<숫자의 일부 자릿수를 영어로 바꾼 예시>

1234 → “one23four” 

98765 → “9eight7six5”

423 → “fourtwo3

In [29]:
def P2(word: str) -> int:
    dic = {'zero':'0', 'one':'1', 'two':'2', 'thre':'3',
          'four':'4', 'five':'5', 'six':'6', 'seven':'7',
          'eight':'8', 'nine':'9'}
    not_num = ""
    num = ""
    for char in word:
        if ord(char) >= 97:
            not_num+=char
            # 해당 숫자 있으면 바꿔주고 reset
            if not_num in dic:
                num+=dic.get(not_num)
                not_num = ""
        # 숫자면 그냥 넣기
        else: num+=char
     
    ans = int(num)
    
    return ans

In [30]:
P2("one23four")

1234

In [32]:
P2("9eight7six5")

98765

In [33]:
P2("nineeight76five")

98765

In [34]:
P2("456")

456

### 2) 성별, 생년월일이 리스트로 주어졌을 때 주민등록번호 앞 7자리를 알맞게 형성하여 return하는 함수

1. 6자리는 생년월일
2. 7번째 자리는 태어난 년도와 성별에 따라 나뉨

1800년대 남: 9, 여: 0

1900년대 남: 1, 여: 2

2000년대 남: 3, 여: 4

In [43]:
def P3(lst: list) -> str:
    
    
    if lst[0] == 'MALE':
        dic = {'18':'9', '19':'1', '20':'3'}
    else: 
        dic = {'18':'0', '19':'2', '20':'4'}
    
    key = str(lst[1])[:2]
    yr = str(lst[1])[2:]
    
    for_sex = dic.get(key)
    
    m = str(lst[2])
    d = str(lst[3])
    if len(m)<2:
        m = '0'+m
    if len(d)<2:
        d = '0'+d
    
    return yr+m+d+for_sex

In [44]:
P3(['MALE', 1956, 2, 14])

'5602141'

In [45]:
P3(['MALE', 1996, 10, 30])

'9610301'

In [46]:
P3(['FEMALE', 2000, 1, 2])

'0001024'

In [47]:
P3(['FEMALE', 1899, 3, 28])

'9903280'

# 3. Search

### 1. 정렬되어 있는 2차원 List가 주어졌을 때 찾고자 하는 목표 숫자가 List안에 있으면 좌표를 Tuple 형태로 반환하고, 없으면 (-1, -1)을 반환

In [62]:
def P4(matrix:list, target:int) -> tuple:
    dic = {}
    index1, index2 = -1, -1
    
    # 각 row마다 dic에 저장하기
    for idx, lst in enumerate(matrix):
        dic[idx] = lst
    
    # 해당 target이 해당 row에 있으면 index 뽑기
    for k,v in dic.items():
        if target in v:
            index1 = k
            index2 = v.index(target)
            
    return (index1, index2)

In [63]:
matrix = [[1,3,5,7],[10,11,16,20],[23,30,34,60]]
target = 3
P4(matrix, target)

(0, 1)

In [64]:
matrix = [[1,3,5,7],[10,11,16,20],[23,30,34,60]] 
target = 65
P4(matrix, target)

(-1, -1)

In [65]:
matrix = [[10,15,16,20,22],[26,29,35,36,37],[40,80,100,106,133]]
target = 40
P4(matrix, target)

(2, 0)