In [1]:
def partition(l, low, high):
    p = l[low]
    small = []
    large = []
    
    for i in l[low + 1:high + 1]:
        if i < p:
            small.append(i)
        else:
            large.append(i)
    small.append(p) 
    
    idx = low
    for i in small:
        l[idx] = i
        idx += 1
    for i in large:
        l[idx] = i
        idx += 1
    
    return (low + len(small) - 1)

def quick_sort(l):
    #Original class code
    #def qs(l, low, high, n):
    #    if (low < high):
    #        pivot_idx = partition(l, low, high)
    #        qs(l, low, pivot_idx - 1, n+1)
    #        qs(l, pivot_idx + 1, high, n + 1)
    #    return l
    #qs(l, 0 , len(l) - 1, 0)
    #return l
    
    # Due to recursive error, I have tried to increase the maximum recursion but if recursion exceeds 22000,
    # kernel dies and because worst case for quick_sort require 100000 + 1, it was not possible.
    # I have tried suggestion to 10^6, but both computer and Google Colab was not able to handle
    # Second way to handle recursion was to change it to iterative version.
    
    # I will implement the version from this website and convert deque to version that does not use deque:
    # https://www.techiedelight.com/iterative-implementation-of-quicksort/
    
    if (len(l) == 1):
        return l
    
    else: 
        # get the starting and ending index of a given list => start = 0, end = len(a) - 1
        start = 0
        end = len(l) - 1
        
        # create a stack for storing sublist start and end index => stack = deque()
        stack = [0] * len(l)
        
        # push the start and end index of the array into the stack =>  stack.append((start, end))
        head = 0
        stack[head] = start
        head = head + 1
        stack[head] = end

        # loop till stack is empty => while stack:
        while head >= 0:
            # remove top pair from the list and get sublist starting and ending indices => start, end = stack.pop()
            end = stack[head]
            head = head - 1
            
            start = stack[head]
            head = head - 1

            # rearrange elements across pivot => pivot = partition(a, start, end) 
            p = partition(l, start, end)
            
            # push sublist indices containing elements that are less than the current pivot to stack
                # => if pivot - 1 > start: stack.append((start, pivot - 1))
            if p - 1 > start:
                head = head + 1
                stack[head] = start
                head = head + 1
                stack[head] = p - 1
            
            # push sublist indices containing elements that aremore than the current pivot to stack
                # => if pivot + 1 < end: stack.append((pivot + 1, end))
            if p + 1 < end:
                head = head + 1
                stack[head] = p + 1
                head = head + 1
                stack[head] = end
    return l

In [2]:
import random
from time import perf_counter
import numpy as np
import pandas as pd

In [3]:
q1 = []
q2 = []
q3 = []
q4 = []
length = [1, 10, 100, 1000, 10000, 100000]

In [4]:
def qs_generate(l, low, high):
    if high - low <= 1:
        return
    middle = int(low + high)//2
    qs_generate(l,low,middle)
    qs_generate(l,middle+1,high)
    
    tmp = l[middle]
    for i in range(middle - 1, low - 1, -1):
        l[i + 1] = l[i]
    l[low] = tmp

In [5]:
for i in length:
    print(i)
    a = []
    for j in range(i):
        a.append(random.randint(0,999))
    qs_generate(a,0,len(a))
    t1 = perf_counter()
    x = quick_sort(a)
    t2 = perf_counter()
    elapsed = t2 - t1
    q1.append(elapsed)

1
10
100
1000
10000
100000

In [6]:
for i in length:
    print(i)
    average = []
    for k in range(5):
        a = []
        # create list of numbers
        for j in range(i):
            a.append(random.randint(0,999))
        t1 = perf_counter()
        x = quick_sort(a)
        t2 = perf_counter()
        elapsed = t2 - t1
        average.append(elapsed)
    q2.append(np.mean(average))

1
10
100
1000
10000
100000

In [7]:
for i in length:
    print(i)
    a = []
    #a = [random.randint(0,999)] * i
    for j in range(i):
        a.append(random.randint(0,999))
    a.sort()
    t1 = perf_counter()
    x = quick_sort(a)
    #print(x)
    t2 = perf_counter()
    elapsed = t2 - t1
    q3.append(elapsed)

1
10
100
1000
10000
100000

In [8]:
df = pd.DataFrame(list(zip(length,q1)),
              columns=['Length','Quick'])

In [9]:
df

   Length     Quick
0       1  0.000004
1      10  0.000016
2     100  0.000179
3    1000  0.002584
4   10000  0.036026
5  100000  0.957670

In [10]:
df2 = pd.DataFrame(list(zip(length,q2)),
              columns=['Length','Quick'])

In [11]:
df2

   Length     Quick
0       1  0.000347
1      10  0.000016
2     100  0.000160
3    1000  0.002505
4   10000  0.034461
5  100000  0.959106

In [12]:
df3 = pd.DataFrame(list(zip(length,q3)),
              columns=['Length','Quick'])

In [13]:
df3

   Length       Quick
0       1    0.001654
1      10    0.000023
2     100    0.000917
3    1000    0.076988
4   10000    6.824605
5  100000  712.347430

In [14]:
df.to_csv('best-q.csv')
df2.to_csv('average-q.csv')
df3.to_csv('worst-q.csv')