In [1]:
# I have copied the class code
def linear_search(l,e):
    n = len(l)
    idx = -1
    for i in range(n):
        if (l[i] == e):
            idx = i
    return idx

def binary_search(l,e):
    def bs(l,low,high,e):
        if low > high:
            return -1
        i = int((low+high)/2)
        if (l[i] == e):
            return i
        elif l[i] < e:
            i = bs(l,i+1,high,e)
        else:
            i = bs(l, low, i-1,e)
        return i
    
    # if l is not sorted sort l
    if (sorted(l) != l):
        l.sort()
    return bs(l, 0, len(l) - 1, e)

In [2]:
import random
from time import perf_counter
import numpy as np
import pandas as pd

In [3]:
length = [1, 10, 100, 1000, 10000, 100000]

In [4]:
ls1 = []
bs1 = []

In [5]:
for i in length:
    print(i)
    a = []
    # create list of numbers
    for j in range(i):
        a.append(random.randint(0,999))
    
    average = []
    for j in range(5):
        t1 = perf_counter()
        x = linear_search(a,random.randint(0,999))
        t2 = perf_counter()
        elapsed = t2 - t1
        average.append(elapsed)
    ls1.append(np.mean(average))

1
10
100
1000
10000
100000

In [6]:
for i in length:
    print(i)
    a = []
    # create list of numbers
    for j in range(i):
        a.append(random.randint(0,999))
    
    average = []
    for j in range(5):
        num = random.randint(0,999)
        t1 = perf_counter()
        x = binary_search(a,num)
        t2 = perf_counter()
        elapsed = t2 - t1
        average.append(elapsed)
    bs1.append(np.mean(average))

1
10
100
1000
10000
100000

In [7]:
df = pd.DataFrame(list(zip(length, ls1, bs1)),
              columns=['Length','Linear', 'Binary'])

In [8]:
df

   Length    Linear    Binary
0       1  0.000001  0.000002
1      10  0.000001  0.000002
2     100  0.000005  0.000005
3    1000  0.000045  0.000032
4   10000  0.000454  0.000360
5  100000  0.004707  0.004259

In [9]:
df.to_csv("unsort.csv")